.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dt {
  color: #9499a2;
  font-size: 14px;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}

.dd {
  margin: 0;
  min-width: 160px;
  text-align: right;
}

.link {
  color: var(--accent-color);
}
