@import "@/styles/mixins";

.tripHistory_container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 8px;
}


.cardWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.customButton {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.emptyState {
    margin-bottom: 16px;
    color: var(--sub-color) ;
}