.react-datepicker {
    background-color: var(--component-color);; 
    border: none;
    font-size: 18px;
    
  }
  
  .react-datepicker__header {
    background-color: var(--component-color);; 
    border-bottom: none;
    color: #fff; 
  }
  
  .react-datepicker__current-month {
    color: #fff;
    font-size: 16px;
  }
  
  .react-datepicker__day {
    color: #fff; 
  }
  
  .react-datepicker__day--today {
    background-color: transparent;
    font-weight: bold; 
    border-radius: 4px ;
  }
  
  .react-datepicker__day-name {
    color: var(--accent-color); 
    font-size: 18px; 
  }
  
  .react-datepicker__day--selected {
    background-color: #1B2533; 
    outline: 1px solid var(--accent-color);
    color: #fff; 
  }
  .react-datepicker__day:hover {
    background-color: #3C5473 !important; 
    color: white;
  }
  
  
  