@import "@styles/mixins";

.container {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 100%;
}

.imgwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 110px;
  background-position: center;
}

.image {
  @include common-block-styles;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.children {
  width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.list {
  margin: 0;
  max-height: 106px;
  padding-left: 20px;
  min-width: 35%;
  font-size: 14px;
  font-weight: 300;
  overflow: scroll;
  scroll-behavior: smooth;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  cursor: pointer;
  list-style-type: disc;

  li {
    padding : 0;
    margin-bottom: 3px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
