@import "@styles/mixins";

.container {
  height: calc(100vh - 18px);
  display: flex;
  flex-direction: column;
}

.greeting {
  @include common-block-styles;
  padding: 14px;
  box-sizing: border-box;
  cursor: default;
}
