@import "@styles/mixins";

.container {
  @include accent-block-styles;
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  gap: 10px;
  cursor: default;
}

.title {
  font-size: var(--font-size-large);
  font-weight: normal;
  margin: 0;
}

.category {
  font-size: var(--font-size-small);
  font-weight: normal;
  color: var(--accent-color);
  margin: 0;
}
