@import "@styles/mixins";

.button {
  @include common-block-styles;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: var(--font-size);
  padding: 14.5px 20px 14.5px 14px;
  margin-top: auto;
  background-color: var(--accent-color);
}
