.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.content {
  position: relative;
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  max-height: 90%;
  background-color: transparent;
  border-radius: 8px;
  padding: 20px;
}

.image {
  max-width: calc(100% - 20px);
  max-height: calc(100vh - 64px);
  object-fit: contain;
  border-radius: 8px;
}

.buttons {
  position: absolute;
  z-index: 2;

  &.buttonLeft {
    left: 5px;
  }
  &.buttonRight {
    right: 5px;
  }
}

.buttons:focus-visible {
  outline: none;
}
