@import "@styles/mixins";

.container {
  @include common-block-styles;
  padding: 0;
  box-sizing: border-box;

  .button {
    width: 100%;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease; 
    box-sizing: border-box;
    padding: 0 16px;
    &.open {
      max-height: 1000px;
      transition: max-height 1s ease; 
    }
  }

  .footer {
    width: 100%;
  }

  .accordionBtn {
    width: 100%;
    box-shadow: none;
    padding: 16px;
    padding-bottom: 16px;

    #rightIcon {
      transition: transform 1s ease;
      user-select: none;
    }
  }
}

.icon {
  svg {
    transition: transform 0.5s ease;
    user-select: none;
  }
  &_open {
    svg {
      transform: rotate(90deg);
    }
  }
  &_close {
    svg {
      transform: rotate(-90deg) translateX(-6px);
    }
  }
}