@import "@styles/mixins";

.container {
  @include common-block-styles;
  padding: 0px;
  box-sizing: border-box;
}

.button {
  height: 100%;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;

  gap: 20px;
  width: 100%;
  max-height: none;
  overflow: hidden;
  max-height: 0;
  padding: 0;
  transition:
    max-height 0.5s ease,
    padding 0.5s ease;
  box-sizing: border-box;
}

.open {
  max-height: 1000px;
  max-width: 100%;
  transition:
    max-height 1s ease,
    padding 0.5s ease;
  padding: 0px 10px 15px 24px;
  box-sizing: border-box;
}

.footer {
  width: 100%;
}

.accordionBtn {
  width: 100%;
  box-shadow: none;
  padding: 14px 10px 15px 24px;
  #rightIcon {
    background: red !important;
    width: 10000px;
    height: 100px;
    transition: transform 0.5s ease;
    user-select: none;
  }
}

.icon {
  svg {
    transition: transform 0.5s ease;
    user-select: none;
  }
  &_open {
    svg {
      transform: rotate(90deg);
    }
  };
  &_close {
    svg {
      transform: rotate(-90deg);
    }
  }
}

