@import "@styles/mixins";

.specificService_wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 8px;
}
.description {
  @include common-block-styles;
  padding: 16px;
  &_title {
    margin: 0px;
    font-size: var(--font-size);

  }
  &_info {
    margin-top: 12px;
    font-size: 18px;
  }
}

.button {
  background-color: var(--accent-color);
  font-size: var(--font-size);
  width: 100;
  margin-bottom: 12px;
}